################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/my-first-project/FileContentIndex/d566a764-8772-46b6-9af5-7c024a643e58.vsidx
